body{
    background-color: black;
    color: white;
}
.container{
    border: 2px ;
    width: 80%;
    margin: auto;
    background-color: gray;
    border-radius: 20px;
}
.hadding{
    font-family: font-family: 'Lobster', cursive;

}
    